<footer class="footer bg-white">
    <div class="container-fluid">
        <div class="row d-flex justify-content-between">

            <!-- Left: Site Name -->
            <div class="col-md-6 d-flex align-items-center">
                <span class="text-primary fw-bold mb-0">
                    &copy; {{ current_year }} {{ blog_name }}
                </span>&nbsp;
            </div>

            <!-- Right: Powered By -->
            <div class="col-md-6 d-flex justify-content-end align-items-center">
                <span>Powered by&nbsp;</span>
                <span class="fw-bold" style="color:#21759b;">WordPress&nbsp;</span>
                <span>and&nbsp;<span>
                <span class="fw-bold" style="color:#e070a7;">Link 'n' Blog</span>
            </div>
        </div>
    </div>
</footer>
