@import '../../styles/variables';

// Main navigation bar
.navbar {
    border-bottom: 1px solid #DFDFDF;
    z-index: 1020;
    background-color: $primary-500;

    * {
        font-weight: bold !important;
    }
    
    // Dynamic border effect
    &-border {
        position: relative;

        &:hover::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 0;
            left: 0;
            bottom: 0;
            border-bottom: 3px solid $primary;
        }
    }
}

// Active navigation links
.nav-link {
    &.active {
        background-color: $primary !important;
        color: white !important;
    }
}

// Additional header or top bar
.super-header {
    height: 60px;
    z-index: 1010;  
}