@import 'variables.scss';

// Styles the container of an event item, typically a card or a list item.
.link-item {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid var(--bs-gray-300);
    margin: 0;
    font-size: 18px;
    transition: background-color 0.3s, box-shadow 0.3s;
    min-height: 200px;

    &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        .overlay {
            opacity: 1;
        }
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $primary-700;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.3s ease;
        z-index: 1002;

        button {
            margin: 5px;
        }
    }

    .banner-container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;

        img {
            width: 100%;
            height: auto;
        }

        .centered-text {
            position: absolute;
            width: 100%;
            text-align: center;
            //color: #FFF;
            font-size: 2.5rem;
            z-index: 1001;
        }
    }

    canvas {
        display: block;
        width: 100%;
        height: 100%;
    }
}


.menu-row {
    margin-right: -15px;
    margin-left: -15px;
}

.menu-col {
    padding: 10px;
}

.content-container {
    flex-grow: 1;
}