<footer class="footer bg-white">
    <div class="container-fluid">
        <div class="row">

            <!-- Left: Product name -->
            <div class="col-md-4 d-flex align-items-center justify-content-start">
                <span class="text-primary fw-bold mb-0">
                    &copy; {{ current_year }} {{ blog_name }}
                </span>&nbsp;
                <span class="text-muted mb-0">Version 0.0.1</span>
            </div>

            <!-- Right: Navigation options -->
            <div class="col-md-8">
                <ul class="nav justify-content-end">
                    <li class="nav-item"><a href="#" class="nav-link text-muted">Home</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
